body{
    background-image: url(m%C3%BCzik.jpg);
    background-size: cover;
}
.container{
    margin-top: 8%;
}
.row{margin-bottom: 3rem}
i{
    color:greenyellow;
}
i:hover{
    color:red;
}
h5{
    color:aliceblue;
    text-decoration: none;
}
b{
    color: blueviolet;
}
b:hover{
    color:cadetblue;
}
d:hover{
    color:cyan;
}
.inner{
    overflow: hidden;
}
.inner img{
    transition: all 1.5s ease;
}
.inner:hover img{
    transform: scale(1.5);
}
h2{
    color:greenyellow;
}